* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#root {
    font-family: 'Raleway', sans-serif;
}

.App {
    display: flex;
}

.CurrentForecast {
    width: 30%;
    min-height: 100vh;
    min-width: 288px;
    background-color: #1E213A;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.location-input {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E7E7EB;
    background-color: #6E707A;
    min-height: 40px;
    min-width: 50%;
    padding-left: 10px;
    border: none;
    outline: none;
}

.location-input::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E7E7EB;
    opacity: 1;
}

.location-icon {
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #6E707A;
    color: #E7E7EB;
    cursor: pointer;
}

.location-icon:hover {
    background-color: #54555c;
    color: #ffffff;
    cursor: pointer;
}

.current-img {
    width: 100px;
    height: 100px;
}

.current-temp {
    font-size: 100px;
    font-weight: 500;
    color: white;
}

.temp-letter {
    font-size: 48px;
    color: #6E707A;
}

.current-status {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #A09FB1;
    margin-bottom: 20px;
}

.wind-container {
    width: 100%;
    color: #A09FB1;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.date-container {
    width: 90%;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-around;
    align-items: center;
    color: #88869D;
}

.location {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #88869D;
}

.FutureForecast {
    width: 70%;
    background-color: #100E1D;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.temp-selector {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: #E7E7EB;
}

.temp-selector > label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #585676;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.temp-selector > input {
    display: none;
}

label.active {
    background-color: #E7E7EB;
    color: #110E3C;
    font-weight: 800;
}

.forecast-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.ForecastCard {
    width: 150px;
    height: 200px;
    padding: 15px 0;
    color: #E7E7EB;
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.forecast-img {
    height: 50%;
}

.max-min-temp {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b7b7c0;
}